.App{
  margin: 0 auto;
  max-width: 1080px;
  

}

.WeatherCard{
  border:  1px solid black;
  border-radius: 8px;
}

.Subheadder{
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.CurrentTempratureWrapper{
  text-align: center;
}

.CurrentTemprature{
  font-size: 30px;

}

.WeatherImage{
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;

}/*font size is how you adjust size of image */
.WeatherImageWrapper{
    font-size: 150px;
}
@media (min-width: 800px){
    .WeatherCard{
      flex-direction: row;
    }
    .City{
      font-size: 100px;
    }
  }
.CityWrapper{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  font-size: 20px;
}
.Lvl1Wrapper{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.Lvl2Wrapper{
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;

}
.LowHighTempWrapper{
  align-items: center;
  display: flex;
  justify-content:space-between;
  align-self:auto;
}

.CurrentLowTemp{
  padding-right: 20px;
  padding-left: 5px;
}
.CurrentHighTemp{
  padding-left: 5px;
}
